<div class="main">
    <div class="banner">
        <h2>
            <strong  style="color: gold;">Great Deku Burger!</strong>
        </h2>
    </div>

    <div id="stuff" class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="color: gold;">
                <table class="table table-condensed">
                    <thead>
                        <h1 style="background-color: green; color: gold;"> Orders </h1>
                    </thead>
                    <br> {{#each burgers_data}} {{#unless this.devoured}}
                    <div class="burgerBorder">
                        <div>
                            <div class="burger">{{this.id}}. Order</div>
                        </div>
                    </div>
                    <tbody>
                        <tr>
                            <ul>
                                <li>
                                    <form method="POST" action="/devour">
                                        {{this.burger_name}}
                                        <input type="hidden" type="text" name="id" value={{this.id}}>
                                        <button type="submit" class="btn btn-sm btn-warning pull-right"> Devour It </button>
                                    </form>
                                </li>
                            </ul>
                        </tr>
                        {{/unless}} {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" style="color: gold;">
                <table class="table table-condensed">
                    <thead>
                        <h1 style="background-color: green; color: gold; margin-left: -30px;">DEVOURED</h1>
                    </thead>
                    {{#each burgers_data}} {{#if this.devoured}}
                    <tbody>
                        <tr>
                            <ul>
                                <li>
                                    <form method="POST" action="/delete?_method=DELETE">
                                        {{this.burger_name}}
                                        <input type="hidden" type="text" name="id" value={{this.id}}>
                                        <button type="submit" class="btn btn-sm btn-danger pull-right">x</button>
                                    </form>
                                </li>
                            </ul>
                        </tr>
                        {{/if}} {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/add" method="POST">
                <textarea class="form-control" type="text" name="burger_name" value="" id="enter_text"></textarea>
                <button type="submit" class="btn btn-primary" align="right">Add Burger to Menu</button>
            </form>
        </div>
    </div>
</div>
</div>